<img src="../../../assets/linea-fin.png" id="linea" alt="divición">
<div class="div-box row" id="about">
    <div class="col-5">
        <ul>
            <li>
                <h2>About</h2>
            </li>
            <li>
                <div id="maap">
                </div>
            </li>
        </ul>        
    </div>
    <div class="col-1">
    </div>
    <div class="col-5 container-fluid" id="info">
        <p>DIRECCIÓN</p><br>
        <p>X X X X X X X X X X X X X X X X X</p><br>
        <br><br>
        <p>TELÉFONO</p><br>
        <p>X X X X X X X X X X X X X X X X X</p><br>
    </div>
</div>